spring:
  application:
    name: cadastrosrh

  datasource:
    url: jdbc:h2:mem:rhdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    driver-class-name: org.h2.Driver
    username: rhdb
    password:

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    fail-on-missing-locations: false
    locations: classpath:db/h2

  h2:
    console:
      enabled: true
      path: /h2-console

  springdoc:
    api-docs:
      path: /v3/api-docs
    swagger-ui:
      path: /swagger-ui.html

  server:
    port: 8080

  logging:
    level:
      root: INFO
      org.hibernate.SQL: WARN
      org.flywaydb: DEBUG
