spring:
  datasource:
    url: jdbc:postgresql://localhost:${SPRING_DATASOURCE_PORT:5432}/rhdb
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    fail-on-missing-locations: false
    locations: classpath:db/postgresql
